.hero{
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.img{
	width:50vw;
	height:40vh;
}
.div{
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	  object-fit: fill;
}
.btn{
	color:white;
	background-color:orangered;
	border:none;
	padding:10px;
	border-radius:5px;

}